html{
    height:100%;
}
body {
    background: -webkit-linear-gradient(45deg, hsla(0, 0%, 97%, 1) 0%, hsla(0, 0%, 97%, 0) 70%), -webkit-linear-gradient(315deg, hsla(0, 0%, 38%, 1) 10%, hsla(0, 0%, 38%, 0) 80%), -webkit-linear-gradient(225deg, hsla(0, 0%, 63%, 1) 10%, hsla(0, 0%, 63%, 0) 80%), -webkit-linear-gradient(135deg, hsla(0, 0%, 29%, 1) 100%, hsla(0, 0%, 29%, 0) 70%);
    background: linear-gradient(45deg, hsla(0, 0%, 97%, 1) 0%, hsla(0, 0%, 97%, 0) 70%), linear-gradient(135deg, hsla(0, 0%, 38%, 1) 10%, hsla(0, 0%, 38%, 0) 80%), linear-gradient(225deg, hsla(0, 0%, 63%, 1) 10%, hsla(0, 0%, 63%, 0) 80%), linear-gradient(315deg, hsla(0, 0%, 29%, 1) 100%, hsla(0, 0%, 29%, 0) 70%);
    height:100%;
}
td{
    border: 3px solid black;
    height: 120px;
    width: 120px;
}
#game {
    justify-self: center;
    align-content: center;
    margin-top: 20px;
    background-color:#ce4949;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
    /* height: 300px; */
    width: 100%;
/*     table-layout: fixed; */
    border-collapse: collapse;
    /* color:#1A1A1A; */

}
#tic{
/*     width: 85%; */
    margin:auto;
}

tr{ width: 10vh;
   
 }
#game:hover{
    cursor: pointer;
}

#button {    
    text-align: center;
}
button{
    font-size: large;
    padding: 2vh;
}
#score {
    text-align: center;
    color: #1A1A1A;
    font-size: larger;
}

#level {
    text-align: center
}

.t {
    color: white;
}

.t2 {
 
}
.cells{
    text-align: center;
    font-size: 70pt
        
}
 #tic{
  display: flex;
  justify-content: center;
 }
main{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
pre{
    text-align: center;
}
/* style=" color:#1A1A1A" border="3" cellspacing="10" cellpadding="30" */