nav{
      background-image: url(assets/images/bg3.jpg) ;
      background-color: pink;
      font-family: 'Sansita Swashed', cursive;

}
.nav-link{
      font-size: x-large;
}
@media (min-width: 1000px){
.w-100 {
    width: 65%!important;
    margin: auto;
}
.carousel-control-next, .carousel-control-prev{
    background-color: rgb(218, 148, 197);
}
}


.card{
    width: 70vw; 
    margin: auto;
    margin-top: 15px;
}
.display-4, .display-3{
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    color: rgb(241, 147, 233);
}

.mainLogo{
    height: 120px;
    display: flex;
    justify-self: center;
    margin: auto;
    /* background-color: black; */
    padding:15px;
}
#painted{
    display:flex;
    justify-content: center;
    font-family: 'Lalezar', cursive;
    font-size: 4rem;
    padding: 0%;
    margin: 0;

}
#p{
    color: #d580ab;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    background-color: rgb(241, 147, 233);
    text-align: center;
    margin-top: 20px;
}

#contact{
    max-width: 80%;
    margin: auto;
}

.formFooter{
    display:none !important;
}