*, *:after, *:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html{
      height:100%;
      width: 100%
  }
  body{
      background-color: darkslategray;
      height: 100vh;
      width: 100vw;
      margin: 0;
  }
  main{
        display: flex;
        justify-content: space-evenly;
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  flex-wrap: wrap;
  align-items: center;

          }
  .name{
      font-size: xx-large;
      display: flex;
      margin: 0 0 20px;
      padding: 10px 0;
      opacity: 0.9;
      background-color: #EEE;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE), color-stop(100%, #CCC));
      background-image: -webkit-linear-gradient(top, #EEE, #AAA);
      background-image: -moz-linear-gradient(top, #EEE, #AAA);
      background-image: -ms-linear-gradient(top, #EEE, #AAA);
      background-image: -o-linear-gradient(top, #EEE, #AAA);
      background-image: linear-gradient(top, #EEE, #AAA);
      border: 1px solid #999;
      border-bottom: 1px solid #BBB;
      border-radius: 30px;
      text-shadow: 0 1px 0 #EEE;
      background-color: #EEE;
      width: auto;
      justify-content: center;
      align-content: center;
          }
          .life{
      opacity: 0.9;
      background-color: #EEE;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EEE), color-stop(100%, #CCC));
      background-image: -webkit-linear-gradient(top, #EEE, #AAA);
      background-image: -moz-linear-gradient(top, #EEE, #AAA);
      background-image: -ms-linear-gradient(top, #EEE, #AAA);
      background-image: -o-linear-gradient(top, #EEE, #AAA);
      background-image: linear-gradient(top, #EEE, #AAA);
      border: 1px solid #999;
      border-bottom: 1px solid #BBB;
      border-radius: 30px;
      color: #333;
      padding: 8px 0;
      text-shadow: 0 1px 0 #EEE;
      display: flex;
      justify-content: center;
      align-items: center;
      /* height:250px; */
      width: 20%;
      font-size: 4.5rem;
      user-select: none;
  }
  
  .player{
      padding: 20px;
      display: flex;
      flex-direction: column;
      
  }
  
  .buttons{
     
      font-size: 3em;
      line-height: 1.3em;
      text-align: center;
      height: 65px;
      width: 100%;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
      color: #333;
      text-shadow: 0 1px 0 #EEE;
      opacity: 0.6;
      background-color: #EEE;
      user-select: none;
      border-radius: 30px;  
  }
  #buttonWrapper{
      display: flex;
      flex-direction: row;
      justify-content:space-evenly;
      width: 100%;
      position: relative;
      bottom: 0;
     
  }
  .buttonText{
      font-size: .6rem; 
  
  }
  #lifeCount{
  padding: 10px;
  }

  .fiveLifeUp{
color:greenyellow
  }