*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: rgb(82, 100, 100);
  /* height: 100vh; */
  /* width: 100vw; */
  margin: 0;
  display: flex;
  height: 100%
  /* align-items: center */
}
main {
  display: flex;
  justify-content: space-evenly;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Verdana, sans-serif;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  /* align-items: center; */
  position: relative;
  /* margin: 0 auto; */
  padding-bottom: 70px;
  margin-top: 70px;
  margin-bottom: -50px;
}
.name {
  font-size: 3rem;
  display: flex;
  margin: 0 0 20px;
  padding: 10px 0;
  opacity: 0.9;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee, #aaa);
  background-image: -moz-linear-gradient(top, #eee, #aaa);
  background-image: -ms-linear-gradient(top, #eee, #aaa);
  background-image: -o-linear-gradient(top, #eee, #aaa);
  background-image: linear-gradient(top, #eee, #aaa);
  border: 1px solid #999;
  border-bottom: 1px solid #bbb;
  border-radius: 30px;
  text-shadow: 0 1px 0 #eee;
  background-color: #eee;
  width: auto;
  justify-content: center;
  align-content: center;
}
.life {
  opacity: 0.9;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee, #aaa);
  background-image: -moz-linear-gradient(top, #eee, #aaa);
  background-image: -ms-linear-gradient(top, #eee, #aaa);
  background-image: -o-linear-gradient(top, #eee, #aaa);
  background-image: linear-gradient(top, #eee, #aaa);
  border: 1px solid #999;
  border-bottom: 1px solid #bbb;
  border-radius: 30px;
  color: #333;
  /* padding: 10px 0; */
  text-shadow: 0 1px 0 #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:250px; */
  min-width: auto;
  font-size: 6rem;
  user-select: none;
}

.life div {
  margin: 15px;
}

.player {
  /* padding: 20px; */

  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  /* margin: 3%; */
  gap: 0;
}

.buttons {
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
  height: 65px;
  width: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Verdana, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #eee;
  opacity: 0.6;
  background-color: #eee;
  user-select: none;
  border-radius: 30px;
}
#buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position:absolute;
  bottom: 0;
  height:fit-content;
}
.buttonText {
  font-size: 0.65rem;
}

.fiveLife {
  display: flex;
  position: relative;
  z-index: 10;
  /* font-size: 3rem; */
}
.fiveLife::after{
  content: '5';
  display: inline-block;
  position: absolute;
  font-size: 10px;
  color: #aaa;
  z-index: -1;
}
.lifeUp{
  color: #00cc00
}
.lifeDown{
  color:#e60000
}
.vert{
  flex-direction: column;
  font-size: 5rem ;
}

.lifeFlex{
  flex-direction: column
}
