*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(78, 69, 202); */
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(137,137,194,1) 47%, rgba(108,127,131,1) 100%);

  margin: 0;
  display: flex;
  height: 100vh

}
#full{
  color:rgb(165, 162, 162);

}
main {
  display: flex;
  justify-content: space-evenly;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Verdana, sans-serif;
  flex-wrap: wrap;
  width: 100vw;

  position: relative;
  margin-top: 70px;
}
.name {
  font-size: 3em;
  display: flex;
  margin: 0 0 20px;
  padding: 10px 0;
  opacity: 0.9;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee, #aaa);
  background-image: -moz-linear-gradient(top, #eee, #aaa);
  background-image: -ms-linear-gradient(top, #eee, #aaa);
  background-image: -o-linear-gradient(top, #eee, #aaa);
  background-image: linear-gradient(top, #eee, #aaa);
  border: 1px solid #999;
  border-bottom: 1px solid #bbb;
  border-radius: 30px;
  text-shadow: 0 1px 0 #eee;
  background-color: #eee;
  width: auto;
  min-height: 75px;
  justify-content: center;
  align-content: center;
}
.life {
  opacity: 0.9;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee, #aaa);
  background-image: -moz-linear-gradient(top, #eee, #aaa);
  background-image: -ms-linear-gradient(top, #eee, #aaa);
  background-image: -o-linear-gradient(top, #eee, #aaa);
  background-image: linear-gradient(top, #eee, #aaa);
  border: 1px solid #999;
  border-bottom: 1px solid #bbb;
  border-radius: 30px;
  color: #333;
  /* padding: 10px 0; */
  text-shadow: 0 1px 0 #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height:250px; */
  min-width: auto;
  font-size: 3em;
  user-select: none;
  height:fit-content
}

.life div {
  margin: 15px;
}

.player {

  display: flex;
  flex-direction: column;
  margin: min(1rem, 1.5rem);
  /* max-width: max-content; */
  width: clamp(min-content, max-content, max-content+1rem)

}

.buttons {
  font-size: 3em;

  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
    Verdana, sans-serif;
  /* color: #333; */
color:rgb(141, 140, 140);

  text-shadow: 0 1px 0 #eee;

  user-select: none;

}
#buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  /* z-index: 100; */
  width: 70%;
  border-radius: 30px;
  opacity: 0.6;
  background-color: #eee;
  position:absolute;
  top: 5px;
  right: 0;
  padding-right: 5px;
  align-content: center;
}
.buttonText {
  font-size: 0.65rem;
  
}

.fiveLife {
  display: flex;
  position: relative;
  z-index: 10;
  /* font-size: 3rem; */
  
}

.lifeUp{
  color: #00cc00
}
.lifeDown{
  color:#e60000
}
.vert{
  flex-direction: column;
  font-size: 5rem ;
}

.lifeFlex{
  flex-direction: column
}
