#input{
    display: flex;
    margin: auto;
    /* min-height: 15rem; */
    /* min-width: 25rem; */

}
body{
    background-color:#2d2e2e;
    height: 100%;
}
h1{
    text-align: center;
    font-family: cursive;
    color: whitesmoke;
    margin: 15px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 30px;
    background-color: #2d2e2e !important;
border-color:#2d2e2e !important}
#main{
    display: flex;
    margin-top: 7%;
    flex-direction: column;
    column-gap: 50px;
    justify-items: flex-end;
}
#clear{
font-size: 35px; margin: 3%;
background-color:cornflowerblue;
border-radius: 15px;
color: white;
padding: 5px;
margin: auto !important;
text-align: center !important;
}
#output{
    background-color: cornflowerblue;
    max-width:max-content;
    width: 75%;
    /* height: 15rem; */
    min-height: fit-content;
    margin: auto;
    margin-top: 50px;
    color: white;
    padding: 12px;
    border-radius: 15px;
    font-size: 3rem;
    box-shadow:grey;
}